<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="nl.sylvain.cordova.osc"
      version="0.1.0">
    <name>OSC</name>

    <js-module src="www/OSCListener.js" name="OSCListener">
        <clobbers target="window.OSCListener" />
    </js-module>
    <js-module src="www/OSCSender.js" name="OSCSender">
        <clobbers target="window.OSCSender" />
    </js-module>

    <!-- android -->
    <platform name="android">
    	<!-- bind the correct module -->
    	<config-file target="res/xml/config.xml" parent="/*">
            <feature name="OSC" >
                <param name="android-package" value="nl.sylvain.cordova.osc.OSCUtils"/>
            </feature>
        </config-file>

        <!-- allow it to access the network -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <!-- copy the source files -->
        <source-file src="src/android/OSCUtils.java" target-dir="src/nl/sylvain/cordova/osc" />

        <!-- copy the osc source files -->
		<source-file src="libs/JavaOsc.jar" target-dir="libs" />
    </platform>

</plugin>